.pricing-container {
  align-items: center;
  background: #fcfaff;
  display: flex;
  justify-content: center;
  min-height: 300px;
  padding: 0 20px;
}

.pricing {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 220px;
}

.pricing-item {
  align-items: center;
  align-self: center;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  display: flex;
  flex-basis: 250px;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.pricing-featured {
  align-self: stretch;
  box-shadow: 0 4px 8px #f2e9ff;
  position: relative;
  z-index: 1;
}

.pricing-title {
  margin: 0;
}

.pricing-description {
  line-height: 1.4;
  margin: 5px 0 10px;
}
