@model List<ForgingAhead.Models.Quest>

@section header {
  <meta name="description" content="Lists all quests in ForgingAhead."/>
}

<h1>
  Quests
</h1>
<p>
  <a asp-action="Create" asp-controller="Quest">Create new quest</a>
</p>
<ul>
  @foreach(var item in Model)
  {
    <li><a asp-action="Details" asp-controller="Quest" asp-route-name="@item.Name">@item.Name</a></li>
  }
</ul>
