html,
body,
h1,
h2,
h3,
h4,
ul,
ol,
li,
p,
a {
  padding: 0;
  border: 0;
  margin: 0;
}
h1 {
  color: #000000;
  margin: 0 0 15px 0;
}
h2 {
  color: #000000;
  margin: 15px 0 15px;
}
h3 {
  color: #333333;
  margin: 20px 0 5px 0;
  border-bottom: 1px solid #aaaaaa;
  padding: 2px;
}
h4 {
  color: #666666;
  margin: 10px 0 10px 0;
}
p {
  color: #444444;
  margin: 0 0 10px 0;
}
a {
  color: #440000;
}
ul {
  padding: 0 0 0 30px;
}
li {
  margin-bottom: 5px;
}
body {
  padding: 15px;
}
ol {
  padding: 0 0 0 20px;
}
