footer figure {
  background: #e0e2e6;
  border: 1px solid #c5c9cf;
  height: 88px;
  overflow-x: hidden;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 0;
  width: 88px;
}

.newsletter {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.copyright {
  width: 120px;
}

footer {
  position: relative;
}
