<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ToDoList</display-name>
  
  <servlet>
  	<servlet-name>ToDoServlet</servlet-name>
  	<servlet-class>com.pluralsight.ToDoServlet</servlet-class>
  </servlet>
  
   <servlet-mapping>
  	<servlet-name>ToDoServlet</servlet-name>
  	<url-pattern>/todo/*</url-pattern>
  </servlet-mapping>
  
</web-app>
