<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - ForgingAhead</title>

  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  @RenderSection("header", required: false)
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
        </button>
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">
          <img src="~/images/forging-ahead-title-small.png" alt="Course Logo" height="25">
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a asp-controller="Home" asp-action="Index">Home</a></li>
          <li><a asp-controller="Character" asp-action="Index">Characters</a></li>
          <li><a asp-controller="Equipment" asp-action="Index">Equipment</a></li>
          <li><a asp-controller="Quest" asp-action="Index">Quests</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; 2016 - ForgingAhead</p>
    </footer>
  </div>

  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>

  @RenderSection("scripts", required: false)
</body>
</html>
