form {
  max-width: 700px;
  padding: 0 20px 20px 20px;
}

input,
label {
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  box-shadow: inset 0 1px 1px #e1e1e1;
  font-size: 16px;
  padding: 8px;
}

.select-state {
  width: 100%;
}

.fieldset {
  margin-top: 20px;
}

.fieldsets-group {
  display: flex;
  justify-content: space-between;
}

.fieldset-1of2 + .fieldset-1of2 {
  margin-left: 30px;
}

.fieldset-state {
  padding-right: 15px;
}

.fieldset-zip {
  padding-left: 15px;
}

@media screen and (min-width: 600px) {

  .fieldset-state {
    padding-left: 30px;
  }

}
