.logo {
  background: url(images/logo3.png);
  display: block;
  height: 75px;
  text-indent: -9999px;
  width: 250px;
}
.logo:hover, .logo:focus {
  background-position: 0 -75px;
}
.logo:active {
  background-position: 0 -150px;
}
